.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1.2;
}
.bg-dark {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='700' preserveAspectRatio='none' viewBox='0 0 1440 700'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1467%26quot%3b)' fill='none'%3e%3crect width='1440' height='700' x='0' y='0' fill='rgba(53%2c 121%2c 191%2c 1)'%3e%3c/rect%3e%3cpath d='M1186.5989908486852 537.7022352773237L1211.601645328823 409.0747287616126 1082.974138813112 384.0720742814748 1057.9714843329741 512.6995807971858z' fill='rgba(34%2c 77%2c 122%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M828.79 585.39 a221.49 221.49 0 1 0 442.98 0 a221.49 221.49 0 1 0 -442.98 0z' fill='rgba(34%2c 77%2c 122%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M203.31 306.05 a182.77 182.77 0 1 0 365.54 0 a182.77 182.77 0 1 0 -365.54 0z' fill='rgba(34%2c 77%2c 122%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M76.17 51.86 a222.95 222.95 0 1 0 445.9 0 a222.95 222.95 0 1 0 -445.9 0z' fill='rgba(34%2c 77%2c 122%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M136.54000626050004 675.7520898783807L18.76097446324154 576.923747736884-80.06736767825521 694.7027795341425 37.71166411900329 793.5311216756393z' fill='rgba(34%2c 77%2c 122%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M75.15132144340927 663.7219225778424L204.22378291997646 595.0928774429888 135.59473778512282 466.0204159664216 6.522276308555632 534.6494611012752z' fill='rgba(34%2c 77%2c 122%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1332.19%2c228.034C1369.5%2c226.177%2c1391.619%2c190.232%2c1409.138%2c157.239C1425.228%2c126.937%2c1437.205%2c91.797%2c1420.423%2c61.872C1403.358%2c31.442%2c1367.073%2c19.465%2c1332.19%2c20.027C1298.389%2c20.571%2c1266.728%2c36.011%2c1248.745%2c64.636C1229.493%2c95.282%2c1224.267%2c133.388%2c1240.727%2c165.619C1258.719%2c200.851%2c1292.679%2c230%2c1332.19%2c228.034' fill='rgba(34%2c 77%2c 122%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M944.8354624531027 300.99305416121615L982.1879243148783 224.40915811357348 848.6358493125265 206.6724133447315z' fill='rgba(34%2c 77%2c 122%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1283.243%2c501.298C1358.673%2c501.101%2c1440.807%2c482.585%2c1476.418%2c416.09C1510.773%2c351.94%2c1474.41%2c278.162%2c1435.763%2c216.503C1400.236%2c159.823%2c1349.965%2c112.683%2c1283.243%2c107.894C1207.366%2c102.448%2c1127.983%2c127.146%2c1087.414%2c191.498C1044.43%2c259.682%2c1045.243%2c348.973%2c1088.31%2c417.105C1128.844%2c481.229%2c1207.382%2c501.496%2c1283.243%2c501.298' fill='rgba(34%2c 77%2c 122%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-51.11 189.78 a122.44 122.44 0 1 0 244.88 0 a122.44 122.44 0 1 0 -244.88 0z' fill='rgba(34%2c 77%2c 122%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M809.4958675376614 535.0832793476163L717.4502885145506 494.1019472106938 702.0010798207222 652.6609818138213z' fill='rgba(34%2c 77%2c 122%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1467'%3e%3crect width='1440' height='700' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  height: 100vh;
  background-size: cover;
  overflow-y: hidden;
}
.card {
  border: 0px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}
.card-header {
  padding: 20px 15px;
  margin-bottom: 0;
}
.mt-4 {
  margin-top: 10px !important;
}

.bg-info {
  background-color: #1b1b1b !important;
}
.h5,
h5 {
  color: rgb(245, 245, 245);
}
b,
strong {
  font-weight: bolder;
  display: block;
  margin-bottom: 5px;
}
.form-control {
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  body {
    padding: 0 20px;
  }
}
